<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>A</servlet-name>
    <servlet-class>controller.emplrlogincontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/emplrlogincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>B</servlet-name>
    <servlet-class>controller.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C</servlet-name>
    <servlet-class>controller.empregistrationcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C</servlet-name>
    <url-pattern>/empregistrationcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>D</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>E</servlet-name>
    <servlet-class>controller.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E</servlet-name>
    <url-pattern>/Authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>F</servlet-name>
    <servlet-class>controller.forgotpasswordcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>F</servlet-name>
    <url-pattern>/forgotpasswordcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>G</servlet-name>
    <servlet-class>controller.Timesheet_Control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G</servlet-name>
    <url-pattern>/Timesheet_Control</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>H</servlet-name>
    <servlet-class>controller.Paycheck_Generator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>H</servlet-name>
    <url-pattern>/Paycheck_Generator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>I</servlet-name>
    <servlet-class>controller.deleteempcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>I</servlet-name>
    <url-pattern>/deleteempcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>J</servlet-name>
    <servlet-class>controller.Search_Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>J</servlet-name>
    <url-pattern>/Search_Employee</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>K</servlet-name>
    <servlet-class>controller.Edit_Timesheet_Control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>K</servlet-name>
    <url-pattern>/Edit_Timesheet_Control</url-pattern>
  </servlet-mapping>
  
</web-app>